.footer-container{
    max-width: 1200px;
    padding: 120px 20px 60px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center;
    position: relative;
    
}
 
.footer-texto{
    font-size: 1.5rem;
    line-height: 1.33;
    color:#29213D;
    background:#DDD6EB;
    border-radius: 5px;
    padding: 20px;
    gap: 20px;
    position: relative;
}

.footer-texto::before{
    content: '';
    display: block;
    width: 4px;
    height: 20px;
    background: linear-gradient(#A78AFB,#635295);
    position: absolute;
    top: 20px;
    left: -4px;
}

.footer-contato::before{
    content: '';
    display: block;
    width: 4px;
    height: 20px;
    background: linear-gradient(#A78AFB,#635295);
    position: absolute;
    top: 20px;
    left: -4px;
}

.footer-container li{
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.1;
    color: #29213D;
    margin-bottom: 30px;

}

.footer-container a{
    color:#29213D;
}

.footer-contato{
    font-size: 1.5rem;
    line-height: 1.33;
    color:#29213D;
    background:#DDD6EB;
    border-radius: 5px;
    padding: 20px;
    gap: 20px;
    position: relative;
}

.footer-cop{
    grid-column: 1 / -1;
    font-size: 1.125rem;
    color: #6D697E;
   
}

.button{
    border-radius: 4px;
    background-color: #A78AFB;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }


@media (max-width: 800px){
    .footer-container{
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .footer-contato li{
        font: size 1.5rem; ;
    }
}