body{
    font-family:'Fira Sans', Arial, Helvetica, sans-serif ;
    margin: 0px;
    color: #141414;
}

.container{
    box-sizing: border-box;
    max-width: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, p{
    margin: 0px;

}

a{
    text-decoration: none;
    color: #141414;
}

ul{
    padding: 0px;
    list-style: none;
}

img{
    height: auto;
    max-width: 100%;
    display: block;
}

.subtitulo{
    font-size: 8rem;
    line-height: 1;
    text-transform:uppercase;
    word-break: break-all;
    max-width: 5ch;
 
}


@media (max-width: 800px){
   .subtitulo{
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
   }
}
